civicoEscolar.xcodeproj/xcuserdata/Vinhote.xcuserdatad/xcschemes/civicoEscolar.xcscheme
civicoEscolar.xcodeproj/xcuserdata/Vinhote.xcuserdatad/xcdebugger/
civicoEscolar.xcodeproj/xcuserdata/Vinhote.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
